footer{
    align-items: center;
    background-color: #6278f7;
    display: flex;
    justify-content: space-around;
    padding: 32px 0;
}
footer .icons img {
    width: 32px;
    height: 32px;
    padding: 0 24px;
}
footer p{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}
 @media screen and (min-width:0) {
    footer{
        display: flex;
        flex-direction: column;
        height: 50vw;
        justify-content: space-between;
        padding: 5% 0;
    }
 }
 @media screen and (min-width:768px) {
    footer{
    display: flex;
    justify-content: space-around;
    padding: 32px 0;
    flex-direction: row;
    height:auto;
 }}